body{
    background-color:rgb(253, 255, 247);
    font-family: 'Times New Roman', Times, serif;
}
.portada img{
    width: 100%;
   
}

div .galeria{
   border: 1px solid #ccc; 
}



div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  padding-top: 20%;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



@media (min-width: 375px) {

  .indexrecetas{
    display: grid;
    grid-template: repeat(1, 1fr)/repeat(1, 1fr);
    grid-gap: 2px 2px;
  }

  .indexrecetas img{
   padding-left: 19px;
    width: 360px;
  }
}
@media (min-width: 425px) {

  .indexrecetas{
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    grid-gap: 2px 2px;
  }

  .indexrecetas img{
    width: 200px;
  }
}
@media (min-width: 768px) {

  .indexrecetas{
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    grid-gap: 2px 2px;
  }

  .indexrecetas img{
   padding-left: 5px;
    width: 250px;
  }
}
@media (min-width: 1024px){
   .subtitulo{
    text-align: center;
    padding: 40px;
   }
  .indexrecetas{
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    grid-gap: 5px 5px;
  }

  .indexrecetas img{
    width: 450px;
  }
}
@media (min-width: 1440px){

  .indexrecetas{
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    grid-gap: 2px 2px;
  }

  .indexrecetas img{
    width: 450px;
  }
}
@media (min-width: 1900px){

  .indexrecetas{
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    grid-gap: 5px 5px;
  }

  .indexrecetas img{
    width: 800px;
  }
}

@media (min-width: 2560px){

  .indexrecetas{
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    grid-gap: 5px 5px;
  }

  .indexrecetas img{
    width: 800px;
  }
}